<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 col-xl-2 sidebar">
      <%= render partial: "shared/sidebar" %>
    </div>
    
    <!-- Main Content -->
    <div class="col-md-9 col-xl-10">
      <div class="main-content-container">
        <h1>New child</h1>
        <div class="row">
          <div class="col-md-6">

            <%= render "form", child: @child %>

            <br />

            <div>
              <%= link_to "Back to children", children_path %>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>