<h1>Editing educational message</h1>

<%= render "form", educational_message: @educational_message %>

<br>

<div>
  <%= link_to "Show this educational message", @educational_message %> |
  <%= link_to "Back to educational messages", educational_messages_path %>
</div>
