<div class="sidebar-wrapper">
  <div class="d-flex flex-column align-items-center align-items-md-start px-3 pt-2 text-white min-vh-100 sidebar">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
      <i class="fa-solid fa-user me-2"></i><span class="fs-5 d-none d-sm-inline"> Hi Medic </span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      
      <li class="mb-4">
        <a href="/dashboard/index" class="nav-link px-0 align-middle">
          <i class="fa-solid fa-list"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span></a>
      </li>
      <li class="mb-4">
        <a href="/children" class="nav-link px-0 align-middle">
          <i class="fa-solid fa-book"></i> <span class="ms-1 d-none d-sm-inline">Children</span> </a>
      </li>
      <li class="mb-4">
        <a href="/vaccines" class="nav-link px-0 align-middle">
          <i class="fa-regular fa-sticky-note"></i> <span class="ms-1 d-none d-sm-inline">Vaccines</span></a>
      </li>
      <li class="mb-4">
        <a href="/immunization_schedules" class="nav-link px-0 align-middle">
          <i class="fa-regular fa-building"></i> <span class="ms-1 d-none d-sm-inline">Schedules</span></a>
      </li>
      <li class="mb-4">
        <a href="/immunization_schedules" class="nav-link px-0 align-middle">
          <i class="fa-regular fa-sticky-note"></i> <span class="ms-1 d-none d-sm-inline">Stockouts</span></a>
      </li>
      <li class="mb-4">
        <a href="/educational_messages" class="nav-link px-0 align-middle">
          <i class="fa-solid fa-book"></i> <span class="ms-1 d-none d-sm-inline">Resources</span> </a>
      </li>
      <li class="mb-4">
        <a href="/profile" class="nav-link px-0 align-middle">
          <i class="fa-solid fa-user"></i> <span class="ms-1 d-none d-sm-inline">Profile</span> </a>
      </li>
    </ul>
    <hr>
  </div>
</div>
