<h1>Editing immunization schedule</h1>

<%= render "form", immunization_schedule: @immunization_schedule %>

<br>

<div>
  <%= link_to "Show this immunization schedule", @immunization_schedule %> |
  <%= link_to "Back to immunization schedules", immunization_schedules_path %>
</div>
