<h1>New immunization schedule</h1>

<%= render "form", immunization_schedule: @immunization_schedule %>

<br>

<div>
  <%= link_to "Back to immunization schedules", immunization_schedules_path %>
</div>
